<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <div fxLayoutAlign="center center">
            <img class="img-responsive" src="assets/Images/Logo.png">
        </div>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProces()">
            <mat-form-field >
              <input matInput placeholder="Username" formControlName = "username" >
            </mat-form-field>
          
            <mat-form-field >
              <input matInput type = "password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary"> Login </button> 
          </form>  
    </mat-card>
</div>